@import '../../../../assets/style/core/variables';

.main-navbar {
  background-color: $primary-colour;
  overflow: hidden;
  padding-left: 3em;
  padding-right: 3em;
  a {
    float: left;
    color: $primary-text-colour;
    text-align: center;
    padding: 0.8em 0.7em;
    text-decoration:  none;
    font-size: 1.1em;
    span {
      margin-left: 0.3em;
    }
  }
  a:hover {
    background-color:$secondary-colour;
  }
  a.active {
    background-color: $secondary-colour;
  }
  
}
@media screen and (max-width: 600px) {
  .main-navbar {
    padding-left: 0;
    padding-right: 0;
    a {
      span {
        display: none;
      }
    }
  }
}