@font-face {
  font-family: Montserrat;
  src: url('./assets/fonts/montserrat/montserrat-regular.ttf');
}
@font-face {
  font-family: Montserrat_Thin;
  src: url('./assets/fonts/montserrat/montserrat-thin.ttf');
}
@font-face {
  font-family: Montserrat_SemiBold;
  src: url('./assets/fonts/montserrat/montserrat-semibold.ttf');
}