$app-font-family: Montserrat_Thin, Helvetica, Arial, sans-serif;
$app-font-size: 18px;

// Use on top level components and content.
$primary-colour: #292929;
$secondary-colour: #1c7007;
$primary-text-colour: #ebebeb;
$secondary-text-colour: white;
$content-colour: #eeeeee;
$content-text-colour: #1d1d1d;


// Use on components such as buttons and cards..
$info-colour: $secondary-colour;
$info-text-colour: $secondary-text-colour;
$success-colour: #017201;
$success-text-colour: white;
$warning-colour: #df8a01;
$warning-text-colour: white;
$error-colour: darkred;
$error-text-colour: white;
$danger-colour: $error-colour;
$danger-text-colour: $error-text-colour;
$default-colour: darken($content-colour, 15%);
$default-text-colour: $content-text-colour;

$primary-90-colour: lighten($primary-colour, 10%);
$primary-80-colour: lighten($primary-colour, 20%);
$primary-70-colour: lighten($primary-colour, 30%);

$primary-40-colour: lighten($primary-colour, 60%);
$primary-30-colour: lighten($primary-colour, 70%);
